POSTGRES_USER=admin
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql+asyncpg://admin:password@db:5432/Calendar

SECRET=YOUR_SECRET_KEY

SMTP_HOST=smtp
SMTP_PORT=PORT
SMTP_USER=example@test.com
SMTP_PASSWORD=APP_KEY
SMTP_FROM=example@test.com